.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background: #007bff;
    color: #fff;
}

.modal-buttons button:last-child {
    background: #ccc;
}
